<h3 class="text-secondary">Completed Tasks</h3>
<ul class="list-group mt-5">
    {% for task in done_tasks %}
    <li class="shadow list-group-item">
        <div class="row">
            <div class="col-8">
                <span>{{ task.description }}</span>
            </div>
            <div class="col-4 text-end">
                                <span><a class="btn btn-outline-danger btn-sm" role="button"
                                         href="{{ url_for('remove_task', task_id =task.id) }}">Delete</a> </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="badge rounded-pill bg-primary ">PRJ-{{ task.project.id }}</span>
                <span class="badge rounded-pill bg-primary ">{{ task.responsible }}</span>
                <span class="badge rounded-pill bg-primary ">{{ task.completed_date }}</span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>